* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(10,91,147,1) 25%, rgba(0,212,255,1) 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.div-titlu {
    width: 250px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.titlu-insert {
    position: absolute;
}
.titlu-edit {
    position: absolute;
    display: none;
}

.form-div {
    display: flex;
    margin : 0 auto;
    margin-top: 100px;
    color: wheat;
}
.form-div input[type="text"], input[type="date"], input[type="file"] {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 21px;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.my-button {
    width: fit-content;
    margin-top: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 21px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.edit-button {
    width: fit-content;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cancel-button {
    display: none;
    flex-direction: row;
}

.form-div select {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form-div option {
    background-color: black;
}

.table-div {
    border: solid black;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: column;
    width: 90%;
    padding: 10px;
}

.table-div input {
    margin-left: auto;
}
